UVICORN_HOST="127.0.0.1"
UVICORN_PORT=8000
XRAY_JSON="/var/lib/marzban/xray_config.json"
XRAY_EXECUTABLE_PATH="/var/lib/marzban/xray-core/xray"
XRAY_ASSETS_PATH="/var/lib/marzban/xray-core"
SQLALCHEMY_DATABASE_URL="sqlite:////var/lib/marzban/db.sqlite3"
XRAY_SUBSCRIPTION_URL_PREFIX="https://sub.79-137-197-51.sslip.io:8443"
XRAY_SUBSCRIPTION_PATH="sub"
DOCS=False
DEBUG=False
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
USERS_AUTODELETE_DAYS=-1
NOTIFY_LOGIN=False
